version: '3.7'

networks:
  ginapi:
    driver: bridge

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8080:8080
    networks:
      - ginapi